.speech {
    font-family: sans-serif;
    font-size: medium;
    color: rgb(0, 0, 0);
}
.direction {
    font-family: monospace;
    font-size: large;
    color: black;
    background-color: aquamarine;
}
.direction:hover {
    color: blue;
    background-color: aqua;
}
.POPOVA {
    color: blueviolet;
}
.LUKA {
     color: blueviolet;
}
table{
    border: 2px solid black;
    text-align: center;
    padding: 2px;
    color: cornflowerblue;
}
th,td{
    margin: 2px;
    border: 2px solid black;
    text-align: center;
    padding: 2px;
}
.LUKA:hover {
    text-shadow: 2px 2px rgb(152, 174, 152);
}
.POPOVA:hover {
    text-shadow: 2px 2px greenyellow;
}

